<% if current_user.reading_lists.count > 1 %>
  <h1>Your Reading List(s)</h1>
<% elsif current_user.reading_lists.count == 1 %>
  <h1>Your Reading List</h1>
<% end %>

<ul>
  <% current_user.reading_lists.each do |reading_list| %>
    <li><%= link_to reading_list.name, reading_list_path(reading_list.id) %></li>
  <% end %>
</ul>

<%= button_to "Create a Reading List", new_reading_list_path %>
