<% if current_user.reading_lists.count > 1 %>
  <h1>Your Reading List(s)</h1>
<% elsif current_user.reading_lists.count == 1 %>
  <h1>Your Reading List</h1>
<% end %>

<ul class="reading_lists">
  <% current_user.reading_lists.each do |reading_list| %>
    <li class="list_links"><%= link_to reading_list.name, user_reading_list_path(current_user.id, reading_list.id) %></li>
  <% end %>
</ul>

<!--<%= button_to "Create a Reading List", new_user_reading_list_path(current_user.id) %> -->
<button type="submit" name="button" data-url="/users/<%= current_user.id %>/reading_lists/new">Create a Reading List</button><br>
<%= javascript_include_tag "reading_lists" %>
