<h1>Welcome to Read Later!</h1>

<button id="start" type="submit" name="button" data-url="/categories">Click to Start</button>
<button id="alphabetize" type="submit" name="button" data-url="/categories">Get Alphabetized Categories</button>
<div id="categoriesList"></div>

<h3>Most Saved Articles</h3>
<ul>
  <% @articles[0..5].each do |article| %>
    <li><%= link_to article.name, article_path(article.id) %></li>
  <% end %>
</ul>
<%= javascript_include_tag "categories" %>
