<h1>Welcome to Read Later!</h1>

<h3>Categories</h3>
<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category.id) %></li>
  <% end %>
</ul>

<h3>Most Saved Articles</h3>
<ul>
  <% @articles[0..5].each do |article| %>
    <li><%= link_to article.name, article_path(article.id) %></li>
  <% end %>
</ul>
