<h1>Welcome to Read Later!</h1>

<button type="submit" name="button" data-url="/categories.json">Click to Start</button>

<h3>Most Saved Articles</h3>
<ul>
  <% @articles[0..5].each do |article| %>
    <li><%= link_to article.name, article_path(article.id) %></li>
  <% end %>
</ul>
<%= javascript_include_tag "categories" %>
