<h1><%= @category.name %></h1>

<ul>
  <% @category.subcategories.each do |subcategory| %>
    <li><%= link_to subcategory.name, category_subcategory_path(@category.id, subcategory.id) %></li>
  <% end %>
</ul>

<%= link_to "<- Back", root_path %>
